# Environment files
**/.env
**/.env.*

# Python cache files
**/__pycache__/
# **/*.py[cod]
# **/*$py.class

# Virtual environments
**/venv/
**/env/

# Other common files
node_modules/
*.log
.DS_Store
Thumbs.db

**/*.bin
**/*.so

**/*.pickle

**/*.sqlite3
**/*.db
